$font_size-28: 28px;
$font_size-24: 24px;
$font_size-18: 18px;
$font_size-16: 16px;
$font_size-14: 14px;
$font_size-12: 12px;

$line_height-15: 15px;
$line_height-17: 17px;
$line_height-21: 21px;

$padding-horizontal: 114px;
$padding-vertical: 26px;

$height-footer: 100px;
$height-mobile-nav: 52px;

$font-family: 'Maven Pro', serif;