@import "common/stylesheet/index";

.popularMovieItem {
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
  display: flex;

  .posterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 300px;

    .posterImage {
      width: 95%;
      height: 95%;
    }
  }

  .movieCardWrap {
    display: inline;
    width: 55%;

    .titleOfMovieWrap {
      width: 100%;
      height: 60px;
      margin: 10px 10px 5px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 라인수 */
      -webkit-box-orient: vertical;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 30px;
      text-align: center;
    }

    .movieInfoWrap {
      display: inline-block;
      height: 45px;

      .titleOfOpen {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .detailOfOpen {
        font-weight: lighter;
        margin-left: 10px;
        margin-bottom: 5px;
      }
    }

    .movieOverWrap {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 9; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      margin-top: 10px;
      font-weight: lighter;
      font-size: 0.9em;
      line-height: 1.2em;
      color: #4d4d4d;
    }
  }
}

